.form-wrapper {
    >div {
        display: grid;
        column-gap: 1rem;
    }

    .name-grid {
        grid-template-columns: 1fr 1fr;        
    }

    .zip-city-state-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}